:root {
    --red: #DC0023;
    --blue: #00206D;
    --darkred: #9A021A;
    --gray: #D3D3D3;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.backdropImage {
    background-image: url(../img/backdrop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo {
    max-width: 80%;
    margin: 40vh auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo img {
    width: 100%;
}

figure {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

figcaption {
    display: none;
}

ul {
    list-style-type: none;
}

h1 {
    position: absolute;
    left: -9999px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p>a {
    text-decoration: underline;
}

.menu a:hover {
    text-decoration: none;
}

.menu {
    position: fixed;
    width: 0px;
    height: 0px;
    left: 45px;
    top: 45px;
    z-index: 1;
    background-color: var(--red);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
    background-color: var(--blue);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu.open {
    width: 800px;
    height: 800px;
    left: -300px;
    top: -300px;
    z-index: 1;
    background-color: var(--red);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.menu.open::before {
    width: 800px;
    height: 800px;
    left: -30px;
    top: -10px;
}

.menu nav {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 70px;
}

.menu ul {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 300;
    font-size: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    gap: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu.open ul {
    font-weight: 300;
    font-size: 2em;
}

.burgerButton {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: var(--blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin: 20px;
    -webkit-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
}

.burgerButton.open {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.burgerIcon {
    width: 30px;
    height: 4px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.burgerIcon::before,
.burgerIcon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.burgerIcon::before {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.burgerIcon::after {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.burgerButton.open .burgerIcon {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.burgerButton.open .burgerIcon::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burgerButton.open .burgerIcon::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

main {
    width: 100%;
    margin: auto;
    padding-bottom: 1em;
    background-color: white;
    -webkit-box-shadow: 6px 6px 26px -11px rgba(97, 97, 97, 0.75);
    -moz-box-shadow: 6px 6px 26px -11px rgba(97, 97, 97, 0.75);
    box-shadow: 6px 6px 26px -11px rgba(97, 97, 97, 0.75);
}

.landing {
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
}

b {
    font-weight: 500;
}

.startButton {
    background-color: var(--blue);
    color: white;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    position: absolute;
    margin: 0 auto;
    top: 70vh;
    left: 50vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    -webkit-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
}

.startButton a {
    display: block;
    padding: 1em 1.8em;
}

.startButton a:hover {
    text-decoration: none;
    background-color: white;
    color: var(--blue);
    border: 2px solid var(--blue);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.startButton a:active {
    text-decoration: none;
    background-color: white;
    color: var(--blue);
    border: 2px solid var(--blue);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

main h2 {
    color: white;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 1.2em;
    display: block;
    background-color: var(--red);
    text-align: center;
    line-height: 2.5em;
    height: 2.5em;
    margin: 0;
}

article>p {
    max-width: 90%;
    margin: 1.2em auto;
}

.aboutProject figure {
    max-width: 60%;
    margin: 1em auto;
}

.aboutProject img {
    max-width: 100%;
}

.ourTeam img {
    width: 100%;
}

.ourTeam figure {
    margin: 5% 20%;
    max-width: 70%;
}

h3 {
    color: white;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    max-width: 90%;
    display: block;
    background-color: var(--blue);
    margin: 0 5%;
    text-align: center;
    line-height: 3em;
    height: 3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section>p {
    max-width: 80%;
    margin: 1.2em auto;
}

.sectionHeader {
    margin: auto;
}

.contact-form {
    max-width: 80%;
    margin: 4em auto;
}

.contact-form>div>input {
    border: 2px solid var(--gray);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    line-height: 2em;
    width: 100%;
}

.contact-form>div>label {
    display: block;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    color: var(--blue);
    margin: 0.6em 0 0.3em 0;
}

.date {
    padding: 0.3em 0 0.3em 0;
    line-height: 1em;
    font-size: 1.5em;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
}

.date:first-child {
    padding-bottom: 0.6em;
}

.contact-form button {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: var(--red);
    line-height: 2.5em;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: none;
    display: block;
    padding: 0 1em 0 1em;
    margin: 1em auto;
    -webkit-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.7);
}

.contact-form button:hover {
    background-color: var(--darkred);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    max-width: 90%;
    margin: 2em auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    max-height: 600px;
}

footer h2 {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: 1em;
    font-style: normal;
}

footer figure {
    height: 100%;
    max-width: 200px;
}

footer img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.credits {
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.5em 0;
    color: white;
    background-color: var(--blue);
}

.icons {
    margin-top: 1em;
}

.icons a {
    text-decoration: none;
}

.icon::before {
    font-size: 30px;
}

.credits a {
    text-decoration: underline;
}

.g-recaptcha {
    margin: auto;
}

.g-recaptcha>div {
    margin: auto;
}

@media(min-width: 700px) {
    .burgerButton {
        display: none;
    }

    .menu {
        position: absolute;
        width: 50%;
        height: 20%;
        background: none;
        margin: 25vh auto auto auto;
        left: 50vw;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .menu ul {
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        justify-content: center;
        font-size: 2em;
        color: var(--blue);
        position: relative;
    }

    .menu nav {
        position: relative;
        text-align: center;
    }

    .logo {
        max-width: 35%;
        margin: 20vh auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .startButton {
        font-weight: 300;
        padding: 1em 1.8em;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        position: absolute;
        margin: 0 auto;
        padding: 0;
        top: 50vh;
        left: 50vw;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .startButton a {
        display: block;
        padding: 1em 1.8em;
    }

    .landing {
        height: 60vh;
    }

    main {
        max-width: 90%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .aboutProject h2 {
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
    }

    .contact-form>div>input {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        line-height: 2em;
        font-size: 1.5em;
        width: 100%;
    }

    .date {
        font-size: 2em;
    }

    .contact-form button {
        font-size: 1.7em;
        line-height: 2.5em;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 0 1em 0 1em;
        margin: 1em auto;
    }
}

@media(min-width:1000px) {
    .landing {
        height: 100vh;
    }

    .menu {
        height: 10%;
    }

    .menu {
        font-size: 0.7em;
        position: absolute;
        width: 80%;
        height: 20%;
        background: none;
        margin: auto;
        left: 50vw;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .menu {
        height: 10%;
    }

    .menu ul {
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -moz-box-pack: space-evenly;
        justify-content: space-evenly;
        font-size: 2em;
        color: var(--blue);
        position: relative;
        height: 10%;
    }

    .menu nav {
        position: relative;
        text-align: center;
        margin: 0;
    }

    .logo {
        max-width: 40%;
        margin: 50vh auto;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }

    .startButton {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        margin: 0 auto;
        top: 50vh;
        left: 70vw;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .ourTeam figure {
        margin: 2em auto;
        max-width: 30%;
    }

    .aboutProject figure {
        max-width: 30%;
        margin: 1em auto;
    }
}

@media(min-width:1400px) {
    .startButton {
        font-size: 1.8em;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .menu {
        height: 10%;
    }

    .menu nav {
        margin: 0;
        font-size: 1.4em;
    }

    .ourTeam figure {
        max-width: 20%;
    }

    .contact-form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 1em 3fr;
        grid-template-columns: 2fr 3fr;
        grid-gap: 1em;
    }

    main {
        width: 80%;
    }

    footer {
        width: 80%;
    }

    .contact-form>input {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        line-height: 2em;
        font-size: 1.5em;
        width: 60%;
    }

    #kontakt h2 {
        font-size: 3em;
    }

    #kontakt a {
        font-size: 1.8em;
    }

    .icon::before {
        font-size: 50px;
    }
}

@media(min-width:2000px) {
    .landing {
        width: 80%;
        margin: auto;
    }

    main {
        width: 60%;
    }

    footer {
        width: 60%;
        margin: 2em auto;
    }
}